/* GRANDE LISTE DES GENS */

@media (orientation: landscape) {

    .liste_complete {
        padding-top: 2.5vw;
        padding-bottom: 0%;
        padding-left: 1vw;
        padding-right: 1vw;
        margin: 3vh 3vw 2vw 3vw;
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-around; /* Espacement équitable entre les éléments */
    }

    .identite {
        background-color: #C9CCCF;
        box-shadow: 0vw 0vw 1.2vw rgba(0, 0, 0, 0.1);
        border-radius: 4vh; 
        margin: 0;
        margin-bottom: 2.5vw;
        max-width: 43%;
        padding: 2%;
    }

    .conteneur-photo-infos {
        display: flex;
        margin: 0;
    }
    .id-photo {
        max-width: 17vw;
        flex: 1 ;
        border-radius: 3vw;
    }
    .id-info {
        padding-left: 5%;
        flex: 3;
        text-align: left;
        text-decoration: none;
        margin-top: 2%;
    }
    .id-info a {
        text-decoration: none;
    }
    .id-nom{
        font-family: "prototype";
        font-size: 250%;
        color: #282A67;
    } .id-fonction {
        font-size: 150%;
        color: #7C2494;
        font-family: 'Rethink';
    } .id-fonction-vp {
        font-size: 110%;
        color: #521863;
        font-family: 'Rethink';
    } .id-description {
        margin-top: 4%;
        font-family: 'Rethink';
        text-align: justify;
        font-size: 100%;
    }.id-icon-reseau {
        margin-right: 2%;
        margin-top: 1.5%;
        width: 7%; 
        height: auto; 
        object-fit: contain; 
    }
}

@media (orientation: portrait) {

    /*
@media screen and (max-width: 768px) {
    .liste_complete {
        justify-content: center; 
    } .identite {
        max-width: 100%; 
    } .id-nom {
        font-size: 4.5vw;
    } .id-fonction {
        font-size: 3.5vw;
    } .id-description {
        font-size: 2.5vw;
    } .photo-identite {
        min-width: 40%;
        height: auto; 
        object-fit: contain;
    } .id-icon-reseau {
        width: 6%;
    }
}
*/
    .liste_complete {
        padding-top: 2.5vw;
        padding-bottom: 0%;
        padding-left: 2vw;
        padding-right: 2vw;
        margin: 3vh 3vw 2vw 3vw;
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center;
    }

    .identite {
        background-color: #C9CCCF;
        box-shadow: 0vw 0vw 1.2vw rgba(0, 0, 0, 0.1);
        border-radius: 4vh; 
        margin: 0;
        margin-bottom: 2.5vw;
        max-width: 100%; 
        padding: 5%;
    }

    .conteneur-photo-infos {
        display: flex;
        margin: 0;
    }
    .id-photo {
        width: 20vh;
        height: 20vh;

        flex: 1 ;
        border-radius: 3vw;
    }
    .id-info {
        padding-left: 5%;
        flex: 3;
        text-align: left;
        text-decoration: none;
        margin-top: 2%;
    }
    .id-info a {
        text-decoration: none;
    }
    .id-nom{
        font-family: "prototype";
        font-size: 140%;
        color: #282A67;
    } .id-fonction {
        font-size: 90%;
        color: #7C2494;
        font-family: 'Rethink';
    } .id-fonction-vp {
        font-size: 80%;
        color: #521863;
        font-family: 'Rethink';
    } .id-description {
        margin-top: 4%;
        font-family: 'Rethink';
        text-align: justify;
        font-size: 50%;
    }.id-icon-reseau {
        margin-right: 2%;
        margin-top: 1.5%;
        width: 15%; 
        height: auto; 
        object-fit: contain; 
    }
}


/*
.liste_complete {
    text-align: center;
    padding-top: 2.5vw;
    padding-bottom: 0%;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 8vh 3vw 2vw 3vw;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
}

.identite {
    background-color: #C9CCCF;
    box-shadow: 0vw 0vw 1.2vw rgba(0, 0, 0, 0.1);
    border-radius: 4vh;
    display: flex; 
    align-items: start; 
    justify-content: left; 
    margin: 0;
    margin-bottom: 2.5vw;
    max-width: 43%;
    padding: 2%;
}
.id-photo {
    border-radius: 3vw;
    min-width: 40%;
    max-width: 40%;
    height: auto;
    margin-right: 4%;
}

.id-info{
    text-align: left;
}

.id-nom{
    font-family: "prototype";
    margin-top: 2%;
    margin-bottom: 0.5%;
    font-size: 2.5vw;
    color: #282A67;
} .id-fonction {
    margin-bottom: 0%;
    font-size: 1vw;
    color: #7C2494;
    font-family: 'Rethink';
} .id-fonction-vp {
    margin-bottom: 0%;
    font-size: 0.9vw;
    color: #521863;
    font-family: 'Rethink';
} .id-description {
    font-family: 'Rethink';
    text-align: justify;
    margin-top: 1%;
    font-size: 0.85vw;
}.id-icon-reseau {
    margin-right: 1%;
    margin-top: 1.5%;
    width: 5%; 
    height: auto; 
    object-fit: contain; 
}

*/
/*
@media screen and (max-width: 768px) {
    .liste_complete {
        justify-content: center; 
    } .identite {
        max-width: 100%; 
    } .id-nom {
        font-size: 4.5vw;
    } .id-fonction {
        font-size: 3.5vw;
    } .id-description {
        font-size: 2.5vw;
    } .photo-identite {
        min-width: 40%;
        height: auto; 
        object-fit: contain;
    } .id-icon-reseau {
        width: 6%;
    }
}
*/