@font-face {
    font-family: 'Rethink'; /* Donnez un nom à votre police */
    src: url('../images_polices/polices/RethinkSans-VariableFont_wght.ttf') format('truetype'); 
}
@font-face {
    font-family: 'prototype';
    src: url('../images_polices/polices/Prototype.ttf') format('truetype');
}


body { /* background */
    background-image: url('../images_polices/deco/fondCam.jpg');
    background-repeat: repeat; 
    background-attachment: fixed;
    background-size: cover;
    background-size: 50%;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "rethink";
}

/*.no_authentifie-bouton-retour {
    background-color: #173C73;
    box-shadow: 0vw 0vw 1.5vw rgba(0, 0, 0, 0.3);
    border-radius: 1vh;
    padding: 1% 1%;
    margin: 2% auto;
    font-family: "rethink";
    color: #ffffff;
    max-width: 60%;
}

.no_authentifie-bouton-retour:hover {
    background-color: #173C73;
    
}

.spacer {
    flex-grow: 0.8;
}*/

@media (orientation: landscape) {
    /* Styles spécifiques pour le mode paysage */

    body { /* background */
        background-image: url('../images_polices/deco/fondCam.jpg');
        background-repeat: repeat; 
        background-attachment: fixed;
        background-size: cover;
        background-size: 50%;
    }

    /* BOUTONS */

    .bouton_central {
        background-color: #f0f0f0; /* Gris très clair */
        padding: 2%; /* 2% de la largeur du conteneur */
        margin: 1%; /* 1% de la largeur du conteneur */
        text-align: center; /* Centre le texte horizontalement */
    }

    /* GLOBAL */ 

    .style_section {
        border-radius: 5vh;
        border: 5px solid #173C73;
        background: linear-gradient(to bottom, #fd416a, #F8B70C);
        background-color: #BABFC2;
        box-shadow: 0vw 0vw 1.5vw rgba(0, 0, 0, 0.6);
        margin: 5%;
    }
    .style_section h2 {
        font-family: "prototype";
        font-size: 250%;
        font-weight: lighter;
        text-align: center;
        color: #173C73;
    }

    .inside_box {
        background-color: #C9CCCF;
        box-shadow: 0vw 0vw 1.2vw #173C73;
        border-radius: 4vh;
    }

    .inside_box:hover {
        background-color: #D4D7D9;
    }
}

@media (orientation: portrait) {
    /* Styles spécifiques pour le mode paysage */

    body { /* background */
        background-image: url('../images_polices/deco/fondCam.jpg');
        background-repeat: repeat; 
        background-attachment: fixed;
        background-size: cover;
        background-size: 50%;
    }

    /* BOUTONS */

    .bouton_central {
        background-color: #f0f0f0; /* Gris très clair */
        padding: 2%; /* 2% de la largeur du conteneur */
        margin: 1%; /* 1% de la largeur du conteneur */
        text-align: center; /* Centre le texte horizontalement */
    }

    /* GLOBAL */ 

    .style_section {
        border-radius: 5vh;
        border: 5px solid #173C73;
        background: linear-gradient(to bottom, #fd416a, #F8B70C);
        background-color: #BABFC2;
        box-shadow: 0vw 0vw 1.5vw rgba(0, 0, 0, 0.6);
        margin: 5%;
    }
    .style_section h2 {
        font-family: "prototype";
        font-size: 250%;
        font-weight: lighter;
        text-align: center;
        color: #173C73;
    }

    .inside_box {
        background-color: #C9CCCF;
        box-shadow: 0vw 0vw 1.2vw rgba(0, 0, 0, 0.1);
        border-radius: 4vh;
    }

    .inside_box:hover {
        background-color: #D4D7D9;
    }
}